<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration>

    <appender name="async" class="org.apache.log4j.AsyncAppender">
        <param name="Blocking" value="false"/>
        <param name="BufferSize" value="500"/>
        <!--<appender-ref ref="flume"/>-->
        <appender-ref ref="EMAIL_APPENDER"/>
    </appender>

    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <param name="Encoding" value="UTF-8" />
        <param name="Threshold" value="INFO" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-d{yyyy/MM/dd HH:mm:ss.SSS} [%-5p] [%X{app}] [%X{ip}] [%t] [%l]  %m%n" />
        </layout>
    </appender>

    <appender name="CENTER-FLUME" class="org.apache.log4j.AsyncAppender">
        <param name="Blocking" value="false"/>
        <param name="BufferSize" value="20"/>
        <appender-ref ref="flume"/>
    </appender>
    <appender name="flume" class="org.apache.log4j.client.FlumeAppender">
        <param name="application" value="${project.name}"/>
        <param name="hostname" value="${flume.host}" />
        <param name="port" value="${flume.port}" />
        <param name="reconnectionDelay" value="10000"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-d{yyyy/MM/dd HH:mm:ss,SSS} [%-5p] [%t] [%l]  %m%n"/>
        </layout>
    </appender>

    <appender name="ROLLING_FILE" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="Encoding" value="UTF-8" />
        <param name="Threshold" value="INFO" />
        <param name="Append" value="true" />
        <param name="File" value="/data/${project.name}/logs/${project.name}.log" />
        <param name="DatePattern" value="'.'yyyy-MM-dd'.log'"></param>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-d{yyyy/MM/dd HH:mm:ss.SSS} [%-5p] [%X{app}] [%X{ip}] [%t] [%l]  %m%n" />
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMax" value="ERROR" />
            <param name="LevelMin" value="DEBUG" />
        </filter>
    </appender>

    <appender name="${project.name}-api" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="Encoding" value="UTF-8" />
        <param name="Threshold" value="INFO" />
        <param name="Append" value="true" />
        <param name="File" value="/data/${project.name}/logs/${project.name}-api.log" />
        <param name="DatePattern" value="'.'yyyy-MM-dd'.log'"></param>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-d{yyyy/MM/dd HH:mm:ss.SSS} [%-5p] [%X{ip}] [%t] [%l]  %m%n" />
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMax" value="ERROR" />
            <param name="LevelMin" value="DEBUG" />
        </filter>
    </appender>

    <appender name="${project.name}-m" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="Encoding" value="UTF-8" />
        <param name="Threshold" value="INFO" />
        <param name="Append" value="true" />
        <param name="File" value="/data/${project.name}/logs/${project.name}-m.log" />
        <param name="DatePattern" value="'.'yyyy-MM-dd'.log'"></param>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-d{yyyy/MM/dd HH:mm:ss.SSS} [%-5p] [%X{ip}] [%t] [%l]  %m%n" />
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMax" value="ERROR" />
            <param name="LevelMin" value="DEBUG" />
        </filter>
    </appender>

    <appender name="${project.name}-www" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="Encoding" value="UTF-8" />
        <param name="Threshold" value="INFO" />
        <param name="Append" value="true" />
        <param name="File" value="/data/${project.name}/logs/${project.name}-www.log" />
        <param name="DatePattern" value="'.'yyyy-MM-dd'.log'"></param>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-d{yyyy/MM/dd HH:mm:ss.SSS} [%-5p] [%X{ip}] [%t] [%l]  %m%n" />
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMax" value="ERROR" />
            <param name="LevelMin" value="DEBUG" />
        </filter>
    </appender>

    <appender name="ROLLING_FILE_ERROR" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="Encoding" value="UTF-8" />
        <param name="Threshold" value="ERROR" />
        <param name="Append" value="true" />
        <param name="File" value="/data/${project.name}/logs/${project.name}-error.log" />
        <param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-d{yyyy/MM/dd HH:mm:ss.SSS} [%-5p] [%X{app}] [%X{ip}] [%t] [%l]  %m%n" />
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMax" value="ERROR" />
            <param name="LevelMin" value="DEBUG" />
        </filter>
    </appender>

    <appender name="${project.name}-api-error" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="Encoding" value="UTF-8" />
        <param name="Threshold" value="ERROR" />
        <param name="Append" value="true" />
        <param name="File" value="/data/${project.name}/logs/${project.name}-api-error.log" />
        <param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-d{yyyy/MM/dd HH:mm:ss.SSS} [%-5p] [%X{ip}] [%t] [%l]  %m%n" />
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMax" value="ERROR" />
            <param name="LevelMin" value="DEBUG" />
        </filter>
    </appender>

    <appender name="${project.name}-m-error" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="Encoding" value="UTF-8" />
        <param name="Threshold" value="ERROR" />
        <param name="Append" value="true" />
        <param name="File" value="/data/${project.name}/logs/${project.name}-m-error.log" />
        <param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-d{yyyy/MM/dd HH:mm:ss.SSS} [%-5p] [%t] [%l]  %m%n" />
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMax" value="ERROR" />
            <param name="LevelMin" value="DEBUG" />
        </filter>
    </appender>

    <appender name="${project.name}-www-error" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="Encoding" value="UTF-8" />
        <param name="Threshold" value="ERROR" />
        <param name="Append" value="true" />
        <param name="File" value="/data/${project.name}/logs/${project.name}-www-error.log" />
        <param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-d{yyyy/MM/dd HH:mm:ss.SSS} [%-5p] [%t] [%l]  %m%n" />
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMax" value="ERROR" />
            <param name="LevelMin" value="DEBUG" />
        </filter>
    </appender>

    <appender name="EMAIL_ROLLING_FILE_ERROR" class="org.apache.log4j.email.EmailDailyRollingFileAppender">
        <param name="Encoding" value="UTF-8" />
        <param name="Threshold" value="ERROR" />
        <param name="Append" value="true" />
        <param name="File" value="/data/${project.name}/logs/${project.name}-error.html" />
        <param name="DatePattern" value="'.'yyyy-MM-dd'.html'" />
        <param name="From" value="日志清查&lt;logSender@126.com&gt;" />
        <param name="nickName" value="日志清查" />
        <param name="SmtpHost" value="smtp.126.com" />
        <param name="Subject" value="${project.name}-错误日志" />
        <param name="To" value="username&lt;user1@163.com&gt;,username&lt;user2@163.com&gt;" />
        <param name="SmtpUsername" value="logSender" />
        <param name="SmtpPassword" value="vsdfsfsdavb232dws" />
        <triggeringPolicy class="org.apache.log4j.email.EnvTriggeringEventEvaluator">
            <param name="env" value="${package.environment}" /><!-- 线上环境才发送邮件 -->
        </triggeringPolicy>
        <layout class="org.apache.log4j.FormatHTMLLayout">
            <param name="title" value="${jobname}-错误日志" />
            <param name="encoding" value="utf-8"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMax" value="ERROR" />
            <param name="LevelMin" value="DEBUG" />
        </filter>
    </appender>

    <appender name="${project.name}-api-error-email" class="org.apache.log4j.email.EmailDailyRollingFileAppender">
        <param name="Encoding" value="UTF-8" />
        <param name="Threshold" value="ERROR" />
        <param name="Append" value="true" />
        <param name="File" value="/data/${project.name}/logs/${project.name}-api-error.html" />
        <param name="DatePattern" value="'.'yyyy-MM-dd'.html'" />
        <param name="From" value="日志清查&lt;logSender@126.com&gt;" />
        <param name="nickName" value="日志清查" />
        <param name="SmtpHost" value="smtp.126.com" />
        <param name="Subject" value="api-错误日志" />
        <param name="To" value="username&lt;user1@163.com&gt;,username&lt;user2@163.com&gt;" />
        <param name="SmtpUsername" value="logSender" />
        <param name="SmtpPassword" value="vsdfsfsdavb232dws" />
        <triggeringPolicy class="org.apache.log4j.email.EnvTriggeringEventEvaluator">
            <param name="env" value="${package.environment}" /><!-- 线上环境才发送邮件 -->
        </triggeringPolicy>
        <layout class="org.apache.log4j.FormatHTMLLayout">
            <param name="title" value="${jobname}-错误日志" />
            <param name="encoding" value="utf-8"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMax" value="ERROR" />
            <param name="LevelMin" value="DEBUG" />
        </filter>
    </appender>

    <appender name="${project.name}-m-error-email" class="org.apache.log4j.email.EmailDailyRollingFileAppender">
        <param name="Encoding" value="UTF-8" />
        <param name="Threshold" value="ERROR" />
        <param name="Append" value="true" />
        <param name="File" value="/data/${project.name}/logs/${project.name}-m-error.html" />
        <param name="DatePattern" value="'.'yyyy-MM-dd'.html'" />
        <param name="From" value="日志清查&lt;logSender@126.com&gt;" />
        <param name="nickName" value="日志清查" />
        <param name="SmtpHost" value="smtp.126.com" />
        <param name="Subject" value="m-错误日志" />
        <param name="To" value="username&lt;user1@163.com&gt;,username&lt;user2@163.com&gt;" />
        <param name="SmtpUsername" value="logSender" />
        <param name="SmtpPassword" value="vsdfsfsdavb232dws" />
        <triggeringPolicy class="org.apache.log4j.email.EnvTriggeringEventEvaluator">
            <param name="env" value="${package.environment}" /><!-- 线上环境才发送邮件 -->
        </triggeringPolicy>
        <layout class="org.apache.log4j.FormatHTMLLayout">
            <param name="title" value="${jobname}-错误日志" />
            <param name="encoding" value="utf-8"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMax" value="ERROR" />
            <param name="LevelMin" value="DEBUG" />
        </filter>
    </appender>

    <appender name="${project.name}-www-error-email" class="org.apache.log4j.email.EmailDailyRollingFileAppender">
        <param name="Encoding" value="UTF-8" />
        <param name="Threshold" value="ERROR" />
        <param name="Append" value="true" />
        <param name="File" value="/data/${project.name}/logs/${project.name}-www-error.html" />
        <param name="DatePattern" value="'.'yyyy-MM-dd'.html'" />
        <param name="From" value="日志清查&lt;logSender@126.com&gt;" />
        <param name="nickName" value="日志清查" />
        <param name="SmtpHost" value="smtp.126.com" />
        <param name="Subject" value="www-错误日志" />
        <param name="To" value="username&lt;user1@163.com&gt;,username&lt;user2@163.com&gt;" />
        <param name="SmtpUsername" value="logSender" />
        <param name="SmtpPassword" value="vsdfsfsdavb232dws" />
        <triggeringPolicy class="org.apache.log4j.email.EnvTriggeringEventEvaluator">
            <param name="env" value="${package.environment}" /><!-- 线上环境才发送邮件 -->
        </triggeringPolicy>
        <layout class="org.apache.log4j.FormatHTMLLayout">
            <param name="title" value="${jobname}-错误日志" />
            <param name="encoding" value="utf-8"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMax" value="ERROR" />
            <param name="LevelMin" value="DEBUG" />
        </filter>
    </appender>

    <appender name="verify_code" class="org.apache.log4j.RollingFileAppender">
        <param name="Encoding" value="UTF-8" />
        <param name="Threshold" value="DEBUG" />
        <param name="Append" value="true" />
        <param name="MaxFileSize" value="50MB" />
        <param name="maxBackupIndex" value="99999" />
        <param name="File" value="/data/${project.name}/logs/${project.name}-verifyCode.log" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-d{yyyy/MM/dd HH:mm:ss.SSS} [%-5p] [%X{ip}] [%t] %m%n" />
        </layout>
    </appender>

    <appender name="email_logger" class="org.apache.log4j.RollingFileAppender">
        <param name="Encoding" value="UTF-8" />
        <param name="Threshold" value="DEBUG" />
        <param name="Append" value="true" />
        <param name="MaxFileSize" value="50MB" />
        <param name="maxBackupIndex" value="99999" />
        <param name="File" value="/data/${project.name}/logs/${project.name}-email.log" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-d{yyyy/MM/dd HH:mm:ss.SSS} [%-5p] [%t] %m%n" />
        </layout>
    </appender>

    <appender name="druid" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="Encoding" value="UTF-8" />
        <param name="Threshold" value="DEBUG" />
        <param name="Append" value="true" />
        <param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />
        <param name="File" value="/data/${project.name}/logs/${project.name}-druid.log" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-d{yyyy/MM/dd HH:mm:ss.SSS} [%X{app}] [%X{ip}] [%-5p] [%t] %m%n" />
        </layout>
    </appender>

    <logger name="org.springframework.jdbc.datasource.DataSourceTransactionManager" additivity="false">
        <level value="DEBUG" />
        <appender-ref ref="druid" />
    </logger>
    <logger name="druid.sql" additivity="false">
        <level value="DEBUG" />
        <appender-ref ref="druid" />
    </logger>

    <logger name="email_logger" additivity="true">
        <level value="DEBUG"></level>
        <appender-ref ref="email_logger"/>
    </logger>

    <logger name="verify_code" additivity="true">
        <level value="DEBUG"/>
        <appender-ref ref="verify_code"/>
    </logger>

    <logger name="net.sf.json" additivity="true">
        <level value="ERROR" />
    </logger>

    <logger name="org.apache.flume.agent.embedded.EmbeddedAgent">
        <level value="INFO" />
    </logger>

    <logger name="${project.name}-api" additivity="false">
        <level value="INFO" />
        <appender-ref ref="${project.name}-api"/>
        <appender-ref ref="${project.name}-api-error"/>
        <appender-ref ref="${project.name}-api-error-email"/>
    </logger>
    <logger name="${project.name}-m" additivity="false">
        <level value="INFO" />
        <appender-ref ref="${project.name}-m"/>
        <appender-ref ref="${project.name}-m-error"/>
        <appender-ref ref="${project.name}-m-error-email"/>
    </logger>
    <logger name="${project.name}-www" additivity="false">
        <level value="INFO" />
        <appender-ref ref="${project.name}-www"/>
        <appender-ref ref="${project.name}-www-error"/>
        <appender-ref ref="${project.name}-www-error-email"/>
    </logger>

    <root>
        <priority value="INFO" />
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="ROLLING_FILE" />
        <appender-ref ref="ROLLING_FILE_ERROR" />
        <appender-ref ref="EMAIL_ROLLING_FILE_ERROR" />
        <appender-ref ref="CENTER-FLUME" />
    </root>

</log4j:configuration>